<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__fadeIn" *ngFor="let m of movies">
        <img 
        [src]="m.poster_path | poster" 
        [alt]="m.title" 
        [routerLink]="['/pelicula', m.id]" 
        class="img-fluid poster">

        <div>
            <h3>{{ m.title }}</h3>
            <div class="row">
                <div class="col-10 text-white">                    
                        
                    <star-rating 
                    [value]="m.vote_average" 
                    totalstars="10" 
                    checkedcolor="yellow" 
                    uncheckedcolor="grey" 
                    size="14px"                            
                    readonly="false" >
                    </star-rating>                    
                </div>
                <div class="col-2 text-white">
                    {{ m.vote_average | number:'1.1-2' }}
                </div>
            </div>
        </div>
    </div>
</div>